.placeholderClass::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    visibility: hidden;
}
.placeholderClass::-moz-placeholder { /* Firefox 19+ */
    visibility: hidden;
}
.placeholderClass:-ms-input-placeholder { /* IE 10+ */
    visibility: hidden;
}
.placeholderClass:-moz-placeholder { /* Firefox 18- */
    visibility: hidden;
}

.placeholderClass:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    visibility: visible;
}
.placeholderClass:focus::-moz-placeholder { /* Firefox 19+ */
    visibility: visible;
}
.placeholderClass:focus:-ms-input-placeholder { /* IE 10+ */
    visibility: visible;
}
.placeholderClass:focus:-moz-placeholder { /* Firefox 18- */
    visibility: visible;
}