.rmd-acordion{
    animation: 5s acordion-open linear forwards;
    max-height: 0;
}

@keyframes acordion-open {
    from{
        max-height: 0;
    }
    to{
        max-height: 5000px;
    }
}








.rmd-acordion-item{
    animation: 50s acordion-item-open linear forwards;
    max-height: 0;
}

@keyframes acordion-item-open {
    from{
        max-height: 0;
    }
    to{
        max-height: 5000px;
    }
}


.rmd-acordion-item-close{
    animation: 100s acordion-item-close linear forwards;
    max-height: 5000px;
}

@keyframes acordion-item-close {
    from{
        max-height: 5000px;
    }
    to{
        max-height: 0;
    }
}









.rmd-acordion-item-fade-in-from-left{
    animation: 0.5s acordion-item-fade-in-from-left linear forwards;
    margin-left: -40px;
    opacity: 0;
}

@keyframes acordion-item-fade-in-from-left {
    from{
        margin-left: -40px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}


.rmd-acordion-item-fade-out-to-left{
    animation: 5s acordion-item-fade-out-to-right linear forwards;
    margin-left: 0;
    opacity: 1;
}
@keyframes acordion-item-fade-out-to-right {
    from{
        margin-left: 0;
        opacity: 1;
    }
    to{
        margin-left: -40px;
        opacity: 0;
    }
}
