/*
  Material design colors.
*/
$mdc-theme-primary: rgb(0, 188, 212);
$mdc-theme-accent: rgb(255, 64, 129);
$mdc-theme-background: #fff;
$mdc-theme-text-primary: white;
.mdc-button.mdc-button--primary.mdc-button--raised{
  color:$mdc-theme-text-primary;
}

@import "../node_modules/@material/theme/mdc-theme";


/*
  React Material colors
 */
/* Chip colors start*/
$rmd-menu-item-hover: #eee;
$rmd-chip-tap-hight-light-color: rgba(0, 0, 0, 0);
$rmd-chip-text-color: rgba(0, 0, 0, 0.870588);
$rmd-chip-background-color: rgb(224, 224, 224);
$rmd-chip-contact-color: rgb(68, 68, 68);
$rmd-chip-contact-background-color: rgb(188, 188, 188);

/* Chip colors end*/

/* Datepicker colors start */

$rmd-date-picker-days-background-hover: rgba(0, 0, 0, 0.1);
$rmd-date-picker-background-color : rgb(0, 188, 212);
$rmd-date-picker-text-color : white;

/* Datepicker colors end */

/* Fabmenu colors start */

$rmd-edit-button-background-color: #81C784;
$rmd-edit-button-text-color: white;
$rmd-delete-button-background-color: #E57373;
$rmd-delete-button-text-color: white;
$rmd-add-button-background-color: #2196f3;
$rmd-add-button-text-color: white;
$rmd-person-add-button-background-color: #3f51b5;
$rmd-person-add-button-text-color: white;
$rmd-copy-button-background-color: #F57F17;
$rmd-copy-button-text-color: white;
$rmd-search-button-background-color: #9c27b0;
$rmd-search-button-text-color: white;
$rmd-menu-button-background-color: #00BCD4;
$rmd-menu-button-text-color: white;
/* Fabmenu colors start */

/* List colors start*/

$rmd-list-item-hover-background: #eee;
$rmd-list-item-hover-text: #000;
$rmd-list-item-border-bottom: #eee;

  /* List colors end*/

/* Table colors start*/

$rmd-table-background-color: rgb(255, 255, 255);
$rmd-table-header-column-color: rgb(158, 158, 158);
$rmd-table-row-border-bottom-color: rgb(224, 224, 224);

/* Table colors end*/

/* Wave effect colors start*/

$rmd-wave-effect-fade-out-background-color: #eee;
$rmd-wave-effect-dissappear-background-color: white;
$rmd-wave-effect-initial-background-color: #bbb;

/* Wave effect colors end*/


.deleleteMargin {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

.rmd-menu-item:hover {
  background-color: $rmd-menu-item-hover;
}

.rmd-chip-text {
  color: $rmd-chip-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  min-height: 32px;
  min-width: 50px;
  padding-left: 12px;
  padding-right: 12px;
  user-select: none;
  white-space: nowrap;
}

.rmd-chip {
  border: 10px;
  box-sizing: border-box;
  display: flex;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: $rmd-chip-tap-hight-light-color;
  cursor: pointer;
  text-decoration: none;
  margin: 4px;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  z-index: 1;
  background-color: $rmd-chip-background-color;
  border-radius: 16px;
  white-space: nowrap;
  width: fit-content;
}

.rmd-chip-contact {
  color: $rmd-chip-contact-color;
  background-color: $rmd-chip-contact-background-color;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: -4px;
}

.rmd-days:hover {
  background-color: $rmd-date-picker-days-background-hover;
  border-radius: 50%;
  cursor: pointer;
}

.rmd-date-picker {
  background-color: $rmd-date-picker-background-color;
  color: $rmd-date-picker-text-color;
}

.rmd-edit-button {
  background-color: $rmd-edit-button-background-color !important;
  color: $rmd-edit-button-text-color !important;
}

.rmd-delete-button {
  background-color: $rmd-delete-button-background-color !important;
  color: $rmd-delete-button-text-color !important;
}

.rmd-add-button {
  background-color: $rmd-add-button-background-color !important;
  color: $rmd-add-button-text-color !important;
}

.rmd-person-add {
  background-color: $rmd-person-add-button-background-color !important;
  color: $rmd-person-add-button-text-color !important;
}

.rmd-copy-button {
  background-color: $rmd-copy-button-background-color !important;
  color: $rmd-copy-button-text-color !important;
}

.rmd-search-button {
  background-color: $rmd-search-button-background-color !important;
  color: $rmd-search-button-text-color !important;
}

.rmd-menu-button {
  background-color: $rmd-menu-button-background-color !important;
  color: $rmd-menu-button-text-color !important;
}



.rmd-centered-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rmd-hover-list-item{
  border-bottom: 1px solid $rmd-list-item-border-bottom;
  cursor: pointer;
  -webkit-transition: 0.4s time;
  -moz-transition: 0.4s time;
  -ms-transition: 0.4s time;
  -o-transition: 0.4s time;
  transition: 0.4s time;

}

.rmd-hover-list-item:hover{
  background-color: $rmd-list-item-hover-background !important;
  color: $rmd-list-item-hover-text !important;
  -webkit-transition: 0.4s time;
  -moz-transition: 0.4s time;
  -ms-transition: 0.4s time;
  -o-transition: 0.4s time;
  transition: 0.4s time;
}

/*Table*/


.rmd-table{
  background-color: $rmd-table-background-color;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-family: Roboto, sans-serif;
}

.rmd-table-header{

}

.rmd-table-header-column{
  font-weight: normal;
  font-size: 12px;
  padding-left: 24px;
  padding-right: 24px;
  height: 56px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $rmd-table-header-column-color;
  position: relative;
  background-color: inherit;
}

.rmd-table-body{
}


.rmd-table-row{
  border-bottom: 1px solid $rmd-table-row-border-bottom-color;
  color: rgba(0, 0, 0, 0.870588);
  height: 48px;
}


.rmd-table-row-column-nowrap{
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: inherit;
}

.rmd-table-row-column-long-dsc{
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
  font-size: 13px;
  background-color: inherit;
}

.placeholderClass::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  visibility: hidden;
}
.placeholderClass::-moz-placeholder { /* Firefox 19+ */
  visibility: hidden;
}
.placeholderClass:-ms-input-placeholder { /* IE 10+ */
  visibility: hidden;
}
.placeholderClass:-moz-placeholder { /* Firefox 18- */
  visibility: hidden;
}

.placeholderClass:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  visibility: visible;
}
.placeholderClass:focus::-moz-placeholder { /* Firefox 19+ */
  visibility: visible;
}
.placeholderClass:focus:-ms-input-placeholder { /* IE 10+ */
  visibility: visible;
}
.placeholderClass:focus:-moz-placeholder { /* Firefox 18- */
  visibility: visible;
}



/* Wave Effect */

.wave-effect{
  overflow: hidden;
}

.rmd-wave-effect{
  animation: 1s wave linear forwards;
  transition: 0.4s;
  pointer-events: none;
}

@keyframes wave {
  0%{
    width:0;
    height:0;
    opacity:0.5;
    border-radius: 0;
    background-color: $rmd-wave-effect-initial-background-color;
  }
  100%{
    width:200px;
    margin-left:-100px;
    margin-top:-100px;
    height:200px;
    opacity:0.3;
    background-color: $rmd-wave-effect-fade-out-background-color;
    border-radius: 100px;
  }
}
.rmd-wave-effect-fade-out{
  animation: wave-out 1s linear forwards;
  animation-fill-mode: forwards;
  pointer-events: none;
  transition: 0.4s;
  width:200px;
  margin-left:-100px;
  margin-top:-100px;
  height:200px;
  opacity:0.5;
  background-color: $rmd-wave-effect-fade-out-background-color;
  border-radius: 100px;
}

@keyframes wave-out {
  100%{
    width:1000px;
    margin-left:-500px;
    margin-top:-500px;
    height:1000px;
    opacity:0;
    background-color: $rmd-wave-effect-dissappear-background-color;
    border-radius: 500px;
  }
}

.rmd-wave-effect-standby{
  animation: 0.5s bounceInDown linear infinite alternate;
}

@keyframes bounceInDown {
  0%{
    width:200px;
    margin-left:-100px;
    margin-top:-100px;
    height:200px;
    opacity:0.5;
    background-color: #eee;
    border-radius: 100px;
  }
  100%{
    width:250px;
    margin-left:-125px;
    margin-top:-125px;
    height:250px;
    opacity:0.5;
    background-color: #eee;
    border-radius: 125px;
  }
}

